<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Blog</title>
  </head>
  <body>
    <h1>Add a Blog Post</h1>
    <form action="/blog" method="POST">
      <label for="name">Blog Title</label>
      <input type="text" name="name" id="name" placeholder="Blog Title" />
      <div>
        <label for="body">Blog Body</label>
        <textarea
          type="textarea"
          name="body"
          id="body"
          cols="30"
          rows="10"
          placeholder="Insert Blog Post Here"
        ></textarea>
      </div>
      <label for="category">Select a Category</label>
      <select name="category" id="category">
        <% for (let category of categories) {%>
        <option value="<%=category%>"><%=category%></option>
        <% } %>
      </select>
      <button>Submit</button>
    </form>
    <button><a href="/blog">Back to Blogs</a></button>
  </body>
</html>
