* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: helvetica;
}

body {
  background: #f2f2f2;
  overflow: auto;
}

h1 {
  display: flex;
  width: 100%;
  justify-content: center;

  margin: 5%;
  font-size: 3rem;
  text-decoration: underline;
}
#taskBar {
  display: flex;
  width: 100%;
  justify-content: center;
}
.pendHeader {
  display: flex;
  width: 100%;
  margin-top: 30px;
  text-align: center;
  justify-content: center;
}
.compHeader {
  display: flex;
  width: 100%;
  margin-top: 30px;
  text-align: center;
  justify-content: center;
}
li {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}
#checkboxButton {
  height: 40px;
  width: 40px;
}
.buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  padding: 0px 5px;
}
/*li {
  display: flex;
  flex-direction: row;
} */
li:hover {
  color: #007bff;
  /* margin: 4%; */
  transition: 0.05s ease;
  cursor: pointer;
}
