<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <div class="discogropy">
      <h1>Lil Wayne Discogrophy</h1>
      <p><a href="/albums/0"><%=songNames[0]%></a></p>
      <p><a href="/albums/1"><%=songNames[1]%></a></p>
    </div>
    <a href="/">Home</a>
  </body>
</html>
