<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Apple CEOs</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  </head>
    <body>
    <section class="section has-text-centered ">
      <h1 class="title is-1 is-info">Apple CEOs since inception</h1>
    </section>  
    
    <section class="section ">
      <div class="columns is-centered">
        <div class="column is-half is-offset-one-quarter has-text-centered">
          <table class="table is-striped is-hoverable ">
            <thead>
              <tr>
                <th class="is-primary">CEO Number</th>
                <th class="is-primary">Name</th>
              </tr>
            </thead>
            <tbody>
              <% db.forEach((item,index) =>{ %>
                <% if (index==8){%>
                 <% return %>
                <%} else {%> 
                <tr>
                  <td><%=index+1%></td>
                  <td><a href="/ceo-details/<%=db[index].slug%>"> <%=`${db[index].name}`%> </a></td>
                </tr>
                <% } %> 
              <%});%>
            </tbody>
          </table>
        </div>
      </div>
    </section>
    

  </body>
</html>
