<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <script>
    const ceos = db.map((ceo) => ceo.name.join(""));
  </script>
  <body>
    <h1>Apple CEOs since inception</h1>
    
    <ol>
      <% db.forEach((item,index) =>{ %>
        <li>
          <a href="/ceo-details/<%=db[index].slug%>"> <%=`${db[index].name}`%> </a>
        </li>
      <%});%>
    </ol>

  </body>
</html>
