<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>The Home Page! <%= 4+ 5 + 1%></h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo autem
      mollitia atque provident voluptatum eligendi officiis assumenda, dicta et
      delectus consequuntur accusantium ut. Repudiandae repellendus praesentium
      minus consectetur quaerat maxime? Soluta sunt doloribus nam explicabo quas
      nobis, molestiae nemo earum laborum cupiditate, est nesciunt aliquam! Quas
      a impedit pariatur amet delectus officiis architecto consectetur
      reiciendis eaque autem doloremque, repellendus nam! Eligendi pariatur, sit
      sequi blanditiis quaerat labore quisquam atque nesciunt numquam ipsum
      quidem perspiciatis rem ipsam, itaque, ab hic. Illum nobis autem esse
      amet, quia eveniet doloremque debitis officiis ratione?
    </p>
  </body>
</html>
